.bar {
  width: 100%;
  padding: 0 10px;
  .nav {
    font-family: Roboto;
    font-size: 22px;
    .nav-list {
      display: flex;
      gap: 15px;
      .list-item {
        list-style-type: none;
        .nav-link {
          color: $gray;
          position: relative;
          text-shadow: none;
          &:visited {
            color: $gray;
          }
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            max-width: 0;
            padding-bottom: 2px;
            border-bottom: 2px solid #fff;
            color: #fff;
            content: attr(data-hover);
            transition: max-width 0.5s;
          }
          &:hover {
            &::before {
              max-width: 100%;
            }
          }
        }
        .active {
          &::before {
            max-width: 100%;
          }
        }
      }
    }
  }
}