.bar {
  width: 100%;
  padding: 0 10px;
  .nav {
    font-family: Roboto;
    font-size: 22px;
    .nav-list {
      display: flex;
      gap: 15px;
      .list-item {
        list-style-type: none;
        .nav-link {
          color: $white;
          &:visited {
            color: $white;
          }
        }
      }
    }
  }
}