@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  width: 100%;
  background: #292929;
  color: #ffffff;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
@media screen and (max-width: 830px) {
  .header .header__container {
    padding: 20px 15px;
  }
}
.header .header__container .title {
  font-size: 54px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 830px) {
  .header .header__container .title {
    font-size: 36px;
  }
}
.header .header__container .nav {
  display: flex;
  align-items: center;
}
.header .header__container .nav .list {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 830px) {
  .header .header__container .nav .list {
    font-size: 14px;
  }
}
.header .header__container .nav .list .list__item {
  list-style-type: none;
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
}

.section__catalog {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  justify-items: center;
  gap: 20px;
}
.section__catalog .card {
  width: 230px;
  height: 400px;
  padding: 12px 15px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(41, 41, 41, 0.2);
}
.section__catalog .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.section__catalog .card .card-link {
  position: relative;
}
.section__catalog .card .card-link .link-info {
  font-size: 14px;
  font-weight: 500;
  color: #7e0a51;
  position: relative;
}
.section__catalog .card .card-link .link-info:active, .section__catalog .card .card-link .link-info:hover {
  color: rgba(126, 10, 81, 0.9);
}
.section__catalog .card .card-link .link-info::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #7e0a51;
  width: 0;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  z-index: 5;
}
.section__catalog .card .card-link .link-info:hover::after {
  width: 100%;
}
.section__catalog .card .card__main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 280px;
  overflow: hidden;
}
.section__catalog .card .card__main-block .card-title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.section__catalog .card .card__main-block .card-subtitle {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.section__catalog .card .price-block {
  display: flex;
  gap: 100px;
}
.section__catalog .card .price-block .card-price {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 20px;
}
.section__catalog .card .price-block .card-price::before {
  content: "";
  background: url(./assets/img/dollar.png);
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 8px;
  right: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__catalog .card .price-block .card__link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292929;
  border-radius: 2px;
}
.section__catalog .card .price-block .card__link:hover {
  background: #414141;
}
.section__catalog .card .price-block .card__link .card-img {
  width: 20px;
  height: 20px;
}

.card-img {
  width: 160px;
  height: 220px;
}

.section__order {
  flex: 1;
  background: #9f9f9f;
}

.modal {
  position: fixed;
  padding: 25px;
  max-width: 400px;
  background-color: #ffffff;
  left: calc(50% - 200px);
  top: 10%;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.modal .card-title {
  text-align: center;
  font-size: 22px;
}
.modal .description {
  font-size: 14px;
  text-indent: 2px;
}

.cancel {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 3%;
  right: 4%;
  background-size: cover;
  border: none;
  outline: none;
}
.cancel:hover {
  opacity: 0.7;
}

.shadow {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 98;
}

.visible {
  visibility: visible;
}

.footer {
  background-color: #292929;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: 0.7s;
}

body {
  width: 100%;
  min-width: 410px;
}

.section {
  margin: 0 auto;
  padding: 20px;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  text-decoration: none;
  position: relative;
}
.link:visited, .link:link {
  color: #ffffff;
}
.link:active, .link:hover {
  color: #b15e00;
}
.link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b15e00;
  width: 0;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  z-index: 5;
}
.link:hover::after {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
