@import './assets/styles/fonts.scss';
@import './assets/styles/header.scss';
@import './assets/styles/section-catalog.scss';
@import './assets/styles/section-order.scss';
@import './assets/styles/modal.scss';
@import './assets/styles/footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: 0.7s;
}

body {
  width: 100%;
  min-width: 410px;
  background: #292929;
}

.section {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.link {
  text-decoration: none;
  position: relative;
  &:visited,
  &:link {
    color: #ffffff;
  }
  &:active,
  &:hover {
    color: #b15e00;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #b15e00;
    width: 0;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    z-index: 5;
  }
  &:hover::after {
    width: 90%;
  }
}

.blur {
  filter: blur(15px);
}