$dark: #0C0C0E;
$dark-grey: #292929;
$black: #000000;
$white: #FFFFFF;
$semi-white: #dddddd;
$yellow: #BB945F;
$container-width: 1440px;
$font-regular: 400;
$gray: #c6c3c3c7;
$orange: #b15e00;
$red: #da2a2a;
$brown: #75300b;
$blue: #00a8a8;
$desktop-width: 1279px;
$tablet-max-width: 1024px;
$tablet-min-width: 769px;
$mobile-max-width: 560px;
$mobile-min-width: 480px;