.footer {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 12px;
  .copyright {
    display: flex;
    font-size: 20px;
    gap: 8px;
    opacity: 0.7;
    .copyright__text {
      font-family: "Yesteryear";
    }
    .link {
      font-family: "Yesteryear";
    }
  }
}