:root {
  --color-blacky: #292929;
  --color-black: #000000;
  --color-red: #e03b3b;
  --color-main-red: #da2a2a;
  --color-white: #ffffff;
  --color-orange: #b15e00;
  --color-lite-orange: #dd7e25;
  --color-green: #4b7514;
  --color-brown: #75300b;
}