.main__delivery {
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  position: relative;
}

.modal-end {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  background-color: var(--color-blacky);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 5px;
  border: 1px solid rgba($color: #ffffff, $alpha: .2);;
  color: var(--color-white);
  .modal-order {
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    .modal__address-block,
    .modal__client-block {
      display: flex;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      .client-block__subtitle,
      .address-block__address,
      .client-block__client,
      .address-block__subtitle {
        font-size: 48px;
        font-family: "BukaLoker-X3LDK";
      }
    }
  }
  .modal-end__title {
    font-family: "BukaLoker-X3LDK";
    font-size: 60px;
    border: 1px solid rgba($color: #ffffff, $alpha: .2);
    padding: 15px 20px 5px;
    min-width: 400px;
    border-radius: 5px;
  }
  .modal-ty {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-family: "BukaLoker-X3LDK";
    color: var(--color-white);
    opacity: 0.5;
    font-size: 20px;
    cursor: default;
  }
}
.section__delivery {
  align-items: center;
  justify-content: center;
  .delivery-title {
    font-size: 52px;
    font-weight: 300;
    font-family: "BukaLoker-X3LDK";
    color: var(--color-bb-brown);
    margin-bottom: 20px;
  }
  .delivery__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    .delivery__item {
      position: relative;
      display: flex;
      flex-direction: column;
      .input {
        width: 320px;
        padding: 5px 10px;
        &:focus,
        &:valid {
          ~ {
            .label {
              top:-23px;
            }
          }
          outline: none;
        }
      }
      .label {
        text-indent: 3px;
        display: flex;
        align-items: center;
        line-height: 33px;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.005em;
        position: absolute;
        padding: 0 10px;
        left: 0;
        bottom: 0;
        height: 33px;
        pointer-events:none;
      }
      &:nth-child(3) {
        .input {
          width: 140px;
          margin-right: 35px;
        }
        .label {
          text-indent: 5px;
          top: -23px;
        }
        .error-text {
          right: 36px;
        }
      }
      &:nth-child(4) {
        margin-bottom: 10px;
      }
    }
    .checkbox-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 5px;
      margin-bottom: 20px;
      position: relative;
      .label {
        display: flex;
        gap: 10px;
      }
    }
    .numbers-block {
      width: 320px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .delivery__item {
        .input {
          width: 130px;
        }
      }
    }
    .radio-block {
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: relative;
      .label {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        gap: 5px;
        padding: 0;
        line-height: 20px;
      }
    }
    .error-text {
      display: none;
      position: absolute;
      right: 1px;
      bottom: -12px;
      line-height: 10px;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--color-red);
    }
    .button-complete {
      padding: 10px 40px;
      border: none;
      outline: none;
      text-transform: uppercase;
      background: var(--color-main-red);
      color: var(--color-white);
      border-radius: 2px;
      font-size: 19px;
      font-weight: 300;
      cursor: pointer;
      &:disabled {
        background: var(--color-blacky);
        cursor: default;
      }
    }
  }
}

.invalid {
  border: 2px solid var(--color-red);
  border-radius: 5px;
}

.invalid-text {
  color: var(--color-red);
}

.position-label {
  top:-23px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=radio] {
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-blacky);
  border-radius: 20px;
  appearance: none;
  &:checked {
    background-color: var(--color-bb-brown);
    border-color: var(--color-bb-brown);
  }
}
