.section__catalog {
  flex: 2;
  .cart-title {
    font-size: 48px;
    text-align: center;
    color: #73340c;
    font-weight: 300;
    font-family: "BukaLoker-X3LDK";
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-items: center;
    padding-top: 10px;
    column-gap: 20px;
    row-gap: 30px;
    .card {
      width: 240px;
      height: 390px;
      padding: 12px 15px 15px;
      display: flex;
      flex-direction: column;
      align-items : flex-start;
      justify-content: space-between;
      border: 2px solid rgba($color: #292929, $alpha: 0.2);
      position: relative;
      &:hover {
        scale: (1.01);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .price-block {
          .card__link {
            .card-price {
              display: block;
            }
          }
        }
      }
      .card__main-block {
        width: 190px;
        height: 270px;
        position: absolute;
        top: -14px;
        left: 14px;
        .card-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        }
      }
      .card__text-block {
        margin-top: 255px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
        gap: 5px;
        .card-title {
          font-size: 18px;
          font-weight: 500;
        }
        .card-subtitle {
          font-size: 14px;
          font-weight: 300;
        }
      }
      .card-link {
        position: relative;
        .link-info {
          font-size: 15px;
          font-weight: 500;
          color: #75300b;
          position: relative;
          &:active,
          &:hover {
            color: rgba($color: #da2a2a, $alpha: 0.9);
          }
          &:active {
            color: #dd7e25;
          }
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            background-color: #da2a2a;
            width: 0;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
            z-index: 5;
          }
          &:hover::after {
            width: 100%;
          }
          &:active::after {
            background-color: #dd7e25;
          }
        }
      }
      .price-block {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 4%;
        bottom: 2%;
        .card__link {
          width: 100px;
          height: 30px;
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          background: #292929;
          border-radius: 2px;
          .card-price {
            display: none;
            font-weight: 500;
            font-size: 20px;
            color: #ffffff;
          }
          &:hover {
            background: #da2a2a;
          }
          .card-img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }


  }
}

.card-img {
  width: 160px;
  height: 220px;
}