.main__delivery{
  border-radius: 10px;
  padding: 20px;
}

.section__delivery {
  align-items: center;
  justify-content: center;
  height: 100px;
  .delivery-title {
    font-size: 52px;
    font-weight: 300;
    font-family: "BukaLoker-X3LDK";
    color: #73340c;
  }
  .delivery__main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-complete {
      padding: 10px 40px;
      border: none;
      outline: none;
    }
  }
}