@import './constants.scss';
@import './fonts.scss';
@import './header.scss';
@import './section-catalog.scss';
@import './section-order.scss';
@import './section-delivery.scss';
@import './modal.scss';
@import './footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: 0.7s;
}

body {
  width: 100%;
  min-width: 410px;
  background: url(../img/gameofthrones.webp) no-repeat;
  background-size: cover;
  background-color: var(--color-blacky);
  background-position: top;
  background-repeat: unset;
}

.section {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width: 610px) {
    padding: 10px;
  }
}

.main {
  display: flex;
  margin: 0 auto;
  background: var(--color-white);
}

.main-page {
  max-width: 1200px;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.link {
  text-decoration: none;
  position: relative;
  &:visited,
  &:link {
    color: var(--color-white);
  }
  &:active,
  &:hover {
    color: var(--color-orange);
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--color-orange);
    width: 0;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    z-index: 5;
  }
  &:hover::after {
    width: 90%;
  }
}

.blur {
  filter: blur(15px);
}

.dragged {
  outline: 5px dashed var(--color-red);
  outline-offset: -18px;
}

.redtext {
  color: var(--color-red);
}