body {
  background-image: url('../assets/img/gameofthrones.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}