@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: "BukaLoker-X3LDK";
  src: url("../assets/fonts/BukaLoker-X3LDK.otf") format("opentype");
}

@font-face {
  font-family: "Yesteryear";
  src: url("../assets/fonts/Yesteryear-Regular.ttf") format("truetype");
  font-weight: 500;
}